#Ignore the figures directory
#figs/
#Ignore the data directory
#data/
#Ignore csv files
#*.csv
#Ignore png files
*.png
#Ignore zip files
*.zip
#ignore geochemistry-helpers package
geochemistry-helpers/
#ignore agilent df
archive_cleaned_240923.csv